<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- add icon link -->
    <link rel = "icon" href = "images/logo_tdt.png" type = "image/x-icon">
    <!--CDN -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!-- ===== BOX ICONS ===== -->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
</head>
<body id="body-pd">
    <!-- HEADER AND NAV TOGGLE-->
    <header class="home-header" id="home-header">
        <div class="home-header__toggle">
            <i class='bx bx-menu' id="home-header-toggle"></i>
        </div>
        <div class="home-header__img">
            <% if (user.img) { %>
                <a href="/profile">
                    <img src="<%= user.img %>" class="img_avatar_profile">
                </a>
            <% } else { %>
                <a href="/profile">
                    <img src="images/avatar_default.png" class="img_avatar_profile">
                </a>
            <% } %> 
            
        </div>
        <div class="home-header__name">
            <a href="/profile"><%=user.name %> </a>
        </div>
    </header> 

    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="/" class="nav__logo">
                    <i class='bx bx-layer nav__logo-icon'></i>
                    <span class="nav__logo-name">TDTU PORTAL</span>
                </a>
                <div class="nav__list">
                    
                    <a href="/" class="nav__link " >
                        <i class='bx bxs-home nav__icon' ></i>
                        <span class="nav__name">Trang chủ</span>
                    </a>
                    <% if (user.role == 2) { %>
                        <a href="/add_user" class="nav__link " >
                            <i class="fas fa-plus-circle nav__icon"></i>
                            <span class="nav__name">Thêm tài khoản</span>
                        </a>
                    <% } %>
                    <a href="/profile" class="nav__link ">
                        <i class="fas fa-user nav__icon"></i>
                        <span class="nav__name">Hồ sơ</span>
                    </a>
                    <a href="#" class="nav__link dropdown-btn">
                        <i class='bx bxs-chevron-down nav__icon' ></i>
                        <span class="nav__name">Thông báo</span>
                    </a>
                    <div class="dropdown-container">
                        <a href="/department" class="nav__link ">
                            <i class="fas fa-user-friends nav__icon"></i>
                            <span class="nav__name">Phòng ban</span>
                        </a>
                        <a href="#" class="nav__link ">
                            <i class="far fa-image nav__icon"></i>
                            <span class="nav__name">Chủ đề</span>
                        </a>
                        <a href="/notification" class="nav__link ">
                            <i class='bx bx-message-square-detail nav__icon' ></i>
                            <span class="nav__name">Tất cả</span>
                        </a>
                    </div>
                    
                    <% if (user.role >= 1) { %>
                        <a href="/dashboard" class="nav__link">
                            <i class='bx bxs-arrow-from-left nav__icon'></i>
                            <span class="nav__name">Quản lý</span>
                        </a>
                    <% } %>

                    
                </div>
            </div>
            <a href="/logout" class="nav__link">
                <i class='bx bx-log-out nav__icon' ></i>
                <span class="nav__name">Đăng xuất</span>
            </a>
        </nav>
    </div>
    <!-- END HEADER AND NAV TOGGLE-->