    <%- include("partials/header"); %>


     <!-- NOTIFICATION PAGE  -->
     <div class="container depart-page">
        <div class="depart-top">
            <a href="#" class="nav__link active">
                <i class='bx bxs-home nav__icon' ></i>
                <span class="nav__name">Trang chủ ></span>
            </a>
            <span> DANH SÁCH PHÒNG BAN</span>
        </div>
        <div class="row depart-list">
            <% faculties.forEach(faculty => { %>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card">
                        <h2><%= faculty.nameFaculty %></h2>
                        <img src="/images/logo_tdt.png">
                        <div class="content">
                            <a href="/notification?faculty=<%= faculty._id %>">Xem</a>
                            <span><%= faculty.arrNoti.length%></span>
                        </div>
                    </div>
                </div>
            <% }) %> 
        </div>
    </div>
    <!--END NOTIFICATION PAGE  --> 
    
    
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="javascripts/main.js"></script>
</body>
</html>